<div>
  <h1> Login </h1>
  <form action="/api/auth/login" method="POST">
    <div>
      <label for="email"> Email </label>
      <input type="email" name="email" id="email" class="form-control" />
    </div>
    <div>
      <label for="password"> Password </label>
      <input type="password" name="password" id="password" />
    </div>
    <button type="submit"> Login</button>
  </form>

  <div>
    <a href="/"> Home </a>
    <a href="/register">
    </a>
  </div>
</div>